{% extends "site/full_screen_site_page.html" %}

{% load static %}
{% load i18n %}

{% block site_page_styles %}
<link rel="stylesheet" media="screen" type="text/css"
      href="{% get_static_prefix %}site/css/index.css"/>
{% endblock site_page_styles %}

{% block site_page %}

<div id="index-block" ng-app="myApp" ng-controller="mainPageViewCtrl" ng-init="latitude='{{ center.latitude }}'; longitude='{{ center.longitude }}'; zoom='{{ center.zoom }}'; map_init();">

    <!-- Side Menu -->
    <a ng-click="showMenu=!showMenu;" ng-class="{inactive: showMenu}" id="menu-toggle" href="#" class="btn btn-primary btn-xs toggle"><i class="fa fa-caret-square-o-left"></i></a>
    <div id="sidebar-wrapper" ng-class="showMenu ? 'active' : 'inactive'">
        <ul class="sidebar-nav">
            <a ng-click="showMenu=!showMenu;" id="menu-close" href="#" class="btn btn-default btn-xs pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                {% trans 'Menu' %}
            </li>
            <li>
                <a href="">{% trans 'All Problems' %}</a>
            </li>
            <li>
                <a href="">{% trans 'Reported by me' %}</a>
            </li>
            <li>
                <a href="{% url 'site_create_problem' %}">{% trans 'Report new problem' %}</a>
            </li>
        </ul>
    </div>
    <!-- /Side Menu -->

    <div id="content">
        <div class="paddedContent">
            <div id="map_canvas" style="width: 100%; height: 100%;"></div>
        </div>
    </div>

</div>


{% endblock site_page %}

{% block site_page_scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script>
        var app = angular.module("myApp", []);        
    </script>
    <script type="text/javascript" src="{% get_static_prefix %}site/js/index.js"></script>
{% endblock site_page_scripts %}
