{% extends "admin_base.html" %}

{% load static %}
{% load i18n %}

{% block base_styles %}
    <link rel="stylesheet" media="screen" type="text/css"
        href="{% get_static_prefix %}admin/css/admin_page.css" />
    {% block site_page_styles %}
    {% endblock site_page_styles %}
{% endblock base_styles %}


{% block body %}
<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'admin_main' %}">{% trans "CityProblems Admin" %}</a>
    </div>
    <div>        
        <ul class="nav navbar-nav navbar-right">
                <li>
            <a href="{% url 'home' %}" class="navbar-link">
                {% trans 'Back to site' %}&nbsp;&rarr;
            </a>
                </li>
            {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    <li><a href="{% url "logout" %}?next={{ request.get_full_path }}">{% trans 'Logout' %}</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="admin-container">
    <div class="row">

        <div class="col-md-2 admin-side-menu">
            <div class="side-menu">
                <div class="menu-section">
                    <h4>{% trans "PROBLEMS" %}</h4>
                    <ul>
                        <li><a href="">{% trans "All" %}</a></li>
                        <li><a href="">{% trans "Open" %}</a></li>
                        <li><a href="">{% trans "Closed" %}</a></li>
                        <li><a href="">{% trans "Rejected" %}</a></li>
                    </ul>
                </div>
                <div class="menu-section">
                    <h4>{% trans "USERS" %}</h4>
                    <ul>
                        {% if currentPage == "admin_users_list" %}
                            <li class="active"><a href="{% url 'admin_UsersList' %}">{% trans "All" %}</a></li>
                        {% else %}
                            <li><a href="{% url 'admin_UsersList' %}">{% trans "All" %}</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="menu-section">
                    <h4>{% trans "SETTINGS" %}</h4>
                    <ul>
                        {% if currentPage == "admin_adminsList" %}
                            <li class="active"><a href="{% url 'admin_adminsList' %}">{% trans "Administrators" %}</a></li>
                        {% else %}
                            <li><a href="{% url 'admin_adminsList' %}">{% trans "Administrators" %}</a></li>
                        {% endif %}
                        {% if currentPage == "admin_parametersList" %}
                            <li class="active"><a href="{% url 'admin_parametersList' %}">{% trans "Parameters" %}</a></li>
                        {% else %}
                            <li><a href="{% url 'admin_parametersList' %}">{% trans "Parameters" %}</a></li>
                        {% endif %}
                        {% if currentPage == "admin_categories_list" %}
                            <li class="active"><a href="{% url 'admin_ProblemCategoriesList' %}">{% trans "Categories" %}</a></li>
                        {% else %}
                            <li><a href="{% url 'admin_ProblemCategoriesList' %}">{% trans "Categories" %}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-10">
            <div class="admin-container-message">
            {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="alert alert-danger alert-dismissable">
                {% else %}
                    <div class="alert alert-{{ message.tags }} alert-dismissable">
                {% endif %}
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
                </div>
            {% endfor %}
            </div>

            <div class="admin-container-main">
                {% block site_page %}
                {% endblock site_page %}
            </div>
        </div>
    </div>
</div>
{% endblock body %}


{% block base_scripts %}
    {% block site_page_scripts %}
    {% endblock site_page_scripts %}
{% endblock base_scripts %}
